{#
  Available values:
    - user
#}

<section class="module-instagram widget-instagram-instagram-feed">
  <div class="inner">
    {% block widget_heading %}
      <header class="widget-heading">
        <h3>{{ user.username }}</h3>
      </header>
    {% endblock %}

    {% block widget_body %}
      <div class="widget-body">
        <ul class="instagram-grid-container js-instagram-container"></ul>
      </div>
    {% endblock %}

    {% block widget_footer %}{% endblock %}
  </div>
</section>
